* {
    font-family: 'Retro Gaming';
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

canvas {
    background-color: #ccc;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
}